
.add-icon:hover {
cursor: pointer;
}

.add-icon i {
line-height: 30px;
}
.menu {
width: 100%;
padding-bottom: 3%;
}
.shift-top {
	 border-radius: 6px;
	 /* box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); */
	 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	 margin-bottom: 100px;
	 padding: 40px 0px;
	 margin-top: 15vh;
}
.space-bottom {
	margin-bottom: 2%;
}
.short {
	width: 70%;
}
.bnw {
	background-color: #000 !important;
	border-color: #000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
}
.space-less {
	padding-top: 2%;
	padding-bottom: 2%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
img.pre-order{
	width: 100%;
}
.outer-space{
	padding: 1% 4%;
}
.edit-btn a {
	color: #3c4043 !important;
}
.left-border{
	border-left: 1px solid #3c4043;
}
.link-color {
	color: #9A9A9A;
}
.subscription-img {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 1px solid #7d7d7d;
}
.price {
	font-size: 18px;
}
.sub-btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sub-pad {
	padding-left: 5px;
	padding-right: 5px;
}

/*------------ Popup Css Start -----------*/
.mask {
display: none;
position: fixed;
top: 0;
left: 0;
z-index: 100;
background: rgba(0, 0, 0, 0.35);
width: 100%;
height: 100%;
}

.model {
position: fixed;
top: -350px;
z-index: 9999 !important;
width: 400px;
padding: 0px;
color: #404040;
text-align: center;
}

.model .constraint {
background: #fff;
padding: 50px;
}

.model .constraint {
background: #fff;
padding: 50px;
}

.show-msg, .show-queue-msg, .remove-queue-msg, .error-queue-msg {
	display: none;
	position: fixed;
	right: 0;
	bottom: 2%;
	background-color: #36383d;
	color: #fff;
	padding: 0 2%;
	z-index: 9999;
}
.msg-box-p {
	margin-top: 10px;
	border-radius: 6px;
}


/*------------ Popup Css End ---------------*/
